.navBarContainer, .navButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.navBarContainer{
    height: 60px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.93);
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
    
    
}
.navButtons{
    margin-right:30px; 
}
.navButton{
    height: 60px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 21px;
    font-family: serif;
    color: #414141
    

}
.navButton:hover{
background-color: rgba(0, 0, 0, 0.03)
}
.logo{
    margin-left: 30px;
    font-size: 2em;
    font-family: serif;
    color: #414141
}